/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

p,
b {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}


a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
}

.block {
  display: flex;
  flex-direction: column;
  width: 1440px;
  padding-top: 36px;
}

form {
  display: flex;

  margin: 0 auto;
  margin-bottom: 34px;
}

.form-input {
width: 272px;
height: 40px;
padding-left: 16px;

border-radius: 4px;
border: 1px solid #808080;
transition: border-color 250ms ease;
}

.form-input:hover {
    border-color: #000;
}

.form-input:focus {
    border-color: #4e75ff;
}

.form-input::placeholder {
  color: #808080;

font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.04em;
}

.button {
display: block;
padding: 8px 16px;
margin-left: 8px;

color: #FFF;

font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.04em;

border-radius: 8px;
background-color: #4E75FF;
border: none;
transition: background-color 250ms ease;
}

.button:hover {
background-color: #6C8CFF;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px 24px;
}

.gallery-item {
  border: 1px solid #808080;
}

.gallery-image {
  width: 360px; 
  height: 154px; 
  object-fit: cover;
}

b {
  display: block;
font-family: "Montserrat", sans-serif;
font-weight: 600;
font-size: 12px;

line-height: 16px; 
line-height: 1.33333;
letter-spacing: 0.04em;
color: #2e2f42;
}

p {
display: inline-block;

text-align: center;
margin-left: 20px;

font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 12px;

line-height: 24px; 
line-height: 2;
letter-spacing: 0.04em;
color: #2e2f42;
text-align: center;
}

.text{
  text-align: center;
}

.loader {
  text-align: center;
  
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  letter-spacing: 2px;
  /* font-family: Arial, Helvetica, sans-serif; */
  color: #474747;
  box-sizing: border-box;
  animation: spotlight 2s linear infinite alternate;
}

@keyframes spotlight {
  0% , 20% {
    opacity: 1;
    letter-spacing: 2px;
   }
  80% , 100% {
    opacity: 0.5;
    letter-spacing: 8px;
   }
}