/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
/* @import url('./base.css');
@import url('./container.css');
@import url('./animations.css'); */

/* Sections style */
/* @import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css'); */

img {
  object-fit: cover;
  min-width: 481px;
  height: 200px;
}


/* очікування */
.loader, .loader:before, .loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: #FFF;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
  40% { box-shadow: 0 2.5em 0 0 }
}

/*  */


.form-search{
  margin-top: 20px;
  width: 100%;
display: flex;
 align-items: center;
justify-content: center; 
gap: 8px;
padding-bottom: 20px;
}

.btn-form {
  border-radius: 8px;
padding: 8px 16px;
width: 91px;
height: 40px;
background-color: #4e75ff;
 border: 1px solid transparent;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
}

.input-form {
 border: 1px solid #000000;
border-radius: 4px;
width: 272px;
height: 35px;

font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #808080;
}

.btn-form:hover,
.btn-form:focus {
background-color: #6C8CFF;
}



.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between; 
}
.gallery-item {

  display: inline-block;
width: 30%;

  background-color: #fff;
}

.all-gallary img {

  height: auto; 
  display: block;
  padding-top: 5px;

}
.description {
  color: #333;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
   margin: 5px 0;
  font-size: 14px;
  line-height: 1.4;

}


.description p span {
  font-weight: bold;
  color: #555;
}